/* javascriptEx2 - UserLogin - style.css */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main_cnt {
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#userMessage {
  padding: 15px 20px;
  border-radius: 12px;
  background: red;
  color:white;
}
